{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col text-gray-800 lg:flex-row w-full p-6 gap-6">

  <!-- Карточка профиля -->
  <aside class="bg-white shadow-lg rounded-lg p-6 w-full lg:w-1/4">
    {% include 'users/card-profile.html' %}
  </aside>

  <!-- Контент профиля -->
  <main class="flex-1">

    <!-- Вкладки -->
    <div role="tablist" class="tabs tabs-boxed bg-gray-300 mb-6">
      <a role="tab" class="tab tab-active">О себе</a>
      <a role="tab" class="tab">Редактировать</a>
      <a role="tab" class="tab">Со стороны</a>
    </div>

    <div>
        {% include 'users/profile.html' %}
    </div>
    

  </main>
</div>
{% endblock content %}
