{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col text-gray-800 lg:flex-row w-full p-6 gap-6">

  <!-- Карточка профиля -->
  <aside class="bg-white shadow-lg rounded-lg p-6 w-full lg:w-1/4">
    {% include 'users/card-profile.html' %}
  </aside>

  <!-- Контент профиля -->
  <main class="flex-1">

    <!-- Вкладки -->
    <div role="tablist" class="tabs tabs-boxed bg-gray-300 mb-6">
      <a href="{% url 'users:profile' user.pk %}" role="tab"
        class="tab {% if request.resolver_match.url_name == 'profile' %}tab-active{% endif %}">
        О себе
      </a>
  
      <a href="{% url 'users:change_profile' user.pk %}" role="tab"
        class="tab {% if request.resolver_match.url_name == 'change_profile' %}tab-active{% endif %}">
        Редактировать
      </a>
      <a href="{% url 'users:private_profile' user.pk %}" role="tab" 
        class="tab {% if request.resolver_match.url_name == 'private_profile' %}tab-active{% endif %}">
        Приватность
    </a>
    </div>

    <div>
        {% block profile-content %}
        {% endblock profile-content %}
    </div>
    

  </main>
</div>
{% endblock content %}
