{% load static %}

<div class="text-center">
    {% if profile.profile_picture %}
      <img src="{{ profile.profile_picture.url }}" alt="Avatar" class="rounded-full mx-auto mb-4 bg-gray-800 w-32 h-32" />
    {% else %}
      <img src="{% static 'users/default_avatar/avatar.png' %}" alt="Avatar" class="rounded-full mx-auto mb-4 bg-gray-800 w-32 h-32" />
    {% endif %}

    <h2 class="text-xl font-bold">{{ user.username }}</h2>
    <p class="text-sm text-gray-500">{{ user.first_name }} {{ user.last_name }}</p>
    <p class="text-sm text-gray-500">{{ user.email }}</p>
    <button class="btn btn-primary btn-sm mt-4 w-full">Download Resume</button>
  </div>
  <div class="flex justify-center space-x-4 mt-4 text-purple-600 text-lg">
    {% for social in social_links %}
    <a href="{{ social.link }}"><i class="fab {{ social.get_fa_name }}"></i></a>
    {% endfor %}
  </div>
  <div class="mt-6">
    <h3 class="text-sm font-semibold mb-2 text-gray-800">КРАТКОЕ ОПИСАНИЕ О СЕБЕ</h3>
    <p class="text-sm text-gray-600">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam nonummy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    </p>
</div>