{% extends 'users/base-profile.html' %}

{% block profile-content %}
<!-- Секция о себе -->
<section class="mb-8">
  <h2 class="text-2xl font-semibold mb-2">ОПИСАНИЕ О СЕБЕ</h2>
  <p class="text-gray-600 mb-2">
    {{ profile.description|default:"Тут пока пусто" }}
  </p>
</section>

<!-- Секция тегов -->
<section class="mb-8">
  <div>
    <div class="flex items-center mb-2">
    <h2 class="text-2xl font-semibold mb-4">ТЕГИ</h2>
      <a onclick="modal_create_tag.showModal();" class="ml-2 pb-1 w-8 h-8 border-2 border-dashed border-black bg-white text-black text-xl flex items-center justify-center hover:bg-black hover:text-white transition-colors duration-300 rounded-lg cursor-pointer">
        <span class="leading-none">+</span>
      </a>
    </div>

  </div>

  <div class="group relative border border-gray-200 rounded-md p-2 min-h-[3rem]" onclick="modal_tags.showModal();" title="Выберите или создайте новый тег">
    {% for tag in profile.tags.all %}
    <span class="inline-flex items-center rounded-md cursor-default px-2 py-1 text-sm font-medium border {{tag.get_colors}}">
        {{tag.name}}
      </span>
    {% endfor %}
    <div class="absolute inset-0 rounded-md bg-gray-200 cursor-pointer opacity-0 group-hover:opacity-50"></div>
  </div>

  {% include 'users/includes/tags-modal.html' %}
  {% include 'users/includes/create-tag-modal.html' %}
</section>

<!-- Контакты -->
<section class="mb-8">
  <h2 class="text-2xl font-semibold mb-4">Контактная информация</h2>
  <div class="bg-white shadow rounded-lg p-6">
    <p class="mb-2"><strong>Email:</strong> {{ user.email }}</p>
    <p class="mb-2"><strong>Телефон:</strong> {{ profile.phone_number|default:"---" }}</p>
    <div class="mb-2">
      <strong>Социальные сети:</strong>
      {% if social_links %}
        <ul class="list-disc list-inside mt-1">
          {% for social in social_links %}
            <li>
              <a href="{{ social.link }}" target="_blank" rel="noopener" class="text-blue-600 hover:underline">
                {{ social.network }} 
              </a>
              <a href="{% url 'users:delete_social_network' social.pk %}" class="ml-4 text-red-700">✕</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="text-gray-500 mt-1">Нет добавленных ссылок</p>
      {% endif %}
    </div>
    <div>
      <a onclick="modal_social_network.showModal();" href="#" class="flex items-center gap-2 text-sky-500 text-[0.95rem] hover:underline">
        <span class="font-bold text-base">+</span>
        Добавить ссылку
      </a>
      {% include 'users/includes/social-links-modal.html' %}
    </div>
  </div>
</section>


{% endblock profile-content %}