{% load task_url %}


<dialog id="change_executor_modal" class="modal">
    <div class="modal-box bg-gray-100 shadow-xl text-base-content rounded-lg p-6 w-full max-w-md mx-auto">
        <button onclick="this.closest('dialog').close();" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        <h3 class="text-2xl text-gray-600 font-bold mb-4">Исполнители</h3>

        <form action="{% url_task task 'add_executors' %}" method="post">{% csrf_token %}
        
            <div class="space-y-3 max-h-60 overflow-y-auto pr-2">
                {% for member in project_members %}
                    <label class="flex items-center gap-3 p-3 bg-white border border-gray-300 rounded-md shadow-sm cursor-pointer hover:bg-gray-50">
                        <div class="w-12 rounded-full border border-black border-[2px] ring ring-primary ring-2 overflow-hidden">
                            <img src="{{member.profile.get_profile_picture_url}}" alt="">
                          </div>
                        {% if your_role >= ROLE_PRIORITY.MEMBER %}
                        <input type="checkbox" name="executor" value="{{ member.id }}"
                            {% if member.id in executor_ids %}checked{% endif %}
                            class="checkbox checkbox-info">
                        {% else %}
                        <input type="checkbox" name="executor" value="{{ member.id }}" disabled
                            {% if member.id in executor_ids %}checked{% endif %}
                            class="checkbox checkbox-info">
                        {% endif %}
                        <span class="text-gray-800 font-medium">{{ member }}</span>
                    </label>
                {% endfor %}
            </div>

            {% if your_role >= ROLE_PRIORITY.MEMBER %}
            <div class="mt-6">
                <button class="btn btn-primary text-white" name="choice_executor" type="submit">Сохранить</button>
            </div>
            {% endif %}

        </form>
    </div>
</dialog>

