

<div id="comment-{{comment.pk}}" class="relative bg-white shadow p-4 rounded-lg border border-gray-200">
                
    <!-- Иконка удаления -->
    {% if comment.author == request.user %}
    <a
        hx-post="{% url 'teams:projects:tasks:delete_comment' project.team.pk project.pk task.pk comment.pk %}"
        hx-target="#comment-{{comment.pk}}"
        hx-swap="delete"
        class="absolute top-4 right-4 text-gray-400 hover:text-red-500 cursor-pointer transition"
        title="Удалить комментарий">
        <i class="fas fa-trash"></i>
    </a>
    {% endif %}

    <!-- Содержимое комментария -->
    <div class="flex items-center mb-2">
    <div class="w-10 h-10 rounded-full bg-gray-400 flex items-center justify-center text-white font-bold mr-3">
        {{ comment.author.username|slice:":1" }}{{ comment.author.last_name|default:""|slice:":1" }}
    </div>
    <div>
        <p class="text-sm font-medium text-gray-900">{{ comment.author }}</p>
        <p class="text-xs text-gray-500">{{ comment.created_at|date:"d.m.Y H:i" }}</p>
    </div>
    </div>
    <p class="text-gray-800 break-all max-w-full overflow-x-auto">{{ comment.content }}</p>

</div>