{% load task_url %}



<!-- Основной блок задачи -->
<div class="mb-2">
    <div id="subtaskDiv-{{subtask.pk}}" class="flex items-center bg-white shadow-sm rounded-2xl border border-gray-300 p-4 relative">


        <!-- Аватар -->
        <div class="w-1/12 flex justify-center">
            <div id="avatar-{{subtask.pk}}" class="avatar {% if subtask.status.is_completed %}grayscale{% endif %}">
                <div class="w-12 h-12 bg-{{subtask.color}}-500 rounded-full ring ring-{{subtask.color}}-300 ring-offset-1"></div>
            </div>
        </div>

        <!-- Название и теги -->
        <div class="w-5/12">
            <h3 id="titleTask-{{subtask.pk}}" class="text-lg font-semibold text-black 
            {% if subtask.status.is_completed %}line-through text-gray-500{% endif %}">
                <a href="{% url_task subtask 'task_detail' %}">{{ subtask.name }}</a>
            </h3>
            <div id="tagList-{{subtask.pk}}" class="flex gap-2 text-sm text-gray-400 mt-1 mb-1 {% if subtask.status.is_completed %}grayscale{% endif %}">
                {% for t in subtask.tag.all %}
                    <span class="inline-flex items-center rounded-md px-2 py-1 text-sm font-medium border {{ t.color.bg_color }} {{ t.color.border_color }} {{ t.color.text_color }}">
                        {{ t.name }}
                    </span>
                {% endfor %}
            </div>
        </div>

        <!-- Исполнители -->
        <div class="w-2/12 flex justify-start">
            <div id="exAvatar-{{subtask.pk}}" class="avatar {% if subtask.status.is_completed %}grayscale{% endif %}">
                <div class="w-12 h-12 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"></div>
            </div>
        </div>

        <!-- Статус -->
        <div id="status-{{subtask.pk}}" class="w-2/12">
            <div class="dropdown" id="status-{{ subtask.pk }}">
                <div tabindex="0" role="button" class="px-3 py-1 rounded-lg {{ subtask.status.color.bg_color }} text-sm font-medium {{ subtask.status.color.text_color }} border {{ subtask.status.color.border_color }}">
                    {{ subtask.status }}
                </div>
            </div>
        </div>

        <!-- Приоритет -->
        <div id="priority-{{subtask.pk}}" class="w-2/12 {% if subtask.status.is_completed %}grayscale{% endif %}">
            <span class="badge badge-error text-[1.075rem] px-4 py-[0.75rem]">{{subtask.priority}}</span>
        </div>

    </div>

</div>
