{% extends 'base.html' %}
{% load static custom_filters %}

{% block content %}

<div class="flex items-center p-4 mb-1">
    <!-- Левая часть: кнопка -->
    <div class="flex-none">
        <button class="btn btn-primary mx-4 text-white whitespace-nowrap" onclick="add_team_modal.showModal();">
            Добавить команду
        </button>
    </div>

    <!-- Центральная часть: строка поиска по центру -->
    <div class="flex-1 flex justify-center">
        <div class="relative max-w-2xl w-full">
            <input 
                type="text" 
                name="search"
                placeholder="Поиск..." 
                class="input input-bordered bg-gray-50 text-gray-700 border-gray-400 w-full pl-10 pr-6 focus:border-sky-600"
                hx-get="{% url 'teams:search_team' %}"
                hx-target="#teams_list"
                hx-trigger="keyup delay:200ms"
            />
            <svg 
                class="absolute left-3 top-3 h-5 w-5 text-gray-400 pointer-events-none" 
                fill="none" 
                viewBox="0 0 24 24" 
                stroke="currentColor"
            >
                <path 
                    stroke-linecap="round" 
                    stroke-linejoin="round" 
                    stroke-width="2" 
                    d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" 
                />
            </svg>
        </div>
    </div>

    <!-- Пустая часть (для равновесия) -->
    <div class="flex-none w-16"></div>
</div>



<div id="teams_list" class="flex flex-wrap justify-between w-[auto] p-4">
    
    {% include 'teams/partial-team_list.html' %}

</div>

{% endblock content %}