

<div id="header" class="bg-neutral-50 border border-gray-300 shadow-sm p-4 flex items-center justify-between border-b">
    <!-- Левая часть шапки - название/информация -->
    <div class="flex items-center space-x-4">
        <h2 class="text-xl font-semibold text-gray-800">{{ team.name}}</h2>
        <span class="text-sm text-gray-500">Владелец: {{ team.author }}</span>
    </div>
    
    <!-- Правая часть шапки - элементы управления -->
    <div class="flex items-center space-x-4">
        <!-- Кнопка "Участники" -->
        <button class="btn btn-outline btn-sm flex items-center">
            <i class="fas fa-users mr-2"></i>
            Участники
        </button>
        
        <!-- Кнопка "Конфигурация" -->
        <a href="{% url 'teams:team_conf' team.id %}" class="btn btn-outline btn-sm flex items-center">
            <i class="fas fa-cog mr-2"></i>
            Конфигурация
        </a>
        
        <!-- Выпадающее меню "Прочее" -->
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-outline btn-sm flex items-center">
                <i class="fas fa-ellipsis-h mr-2"></i>
                Прочее
            </div>
            <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-neutral-50 rounded-box w-52">
                <li><a><i class="fas fa-history mr-2"></i>История изменений</a></li>
                <li><a class="text-red-500 hover:text-white hover:bg-red-500"><i class="fas fa-trash mr-2"></i>Удалить</a></li>
            </ul>
        </div>
    </div>
</div>