

<!-- Sidebar -->
<aside class="min-w-64 bg-white shadow-md flex flex-col">
  <div class="px-6 py-4 text-2xl font-semibold border-b">Описание</div>
  <nav class="flex-1 px-4 py-2 space-y-2">
    <a href="{% url 'projects:home' %}" class="block px-4 py-2 rounded hover:bg-gray-200 text-gray-800">На главную</a>
    <div class="dropdown dropdown-right w-full">
      <div tabindex="0" role="button" class="block px-4 py-2 rounded hover:bg-gray-200 text-gray-800 w-full text-left">Команды</div>
      <!-- Заголовок -->
      <div tabindex="0" class="dropdown-content bg-white w-[34vh] rounded-box z-10 w-64 p-3 shadow-md ml-2 flex flex-col gap-2">
        <div class="flex items-center justify-between mb-2">
          <h3 class="font-medium text-gray-800">Поиск</h3>
          <div class="group relative inline-block">
            <a 
              href="{% url 'teams:team_list' %}" 
              class="p-1 rounded hover:bg-gray-200"
            >
              <i class="fas fa-external-link-alt text-teal-600"></i>
            </a>
            
            <!-- Тултип -->
            <span class="
              absolute 
              bottom-full left-1/2 -translate-x-1/2 
              mb-2 hidden group-hover:block
              bg-gray-800 text-white text-xs 
              rounded px-2 py-1 
              whitespace-nowrap
              before:absolute before:top-full before:left-1/2 before:-translate-x-1/2
              before:border-4 before:border-transparent before:border-t-gray-800
            ">
              Список команд
            </span>
          </div>
        </div>
        <!-- Строка поиска -->
        <div class="relative">
          <input 
            type="text" 
            name="search"
            placeholder="Поиск..." 
            class="w-full pl-8 pr-4 py-2 text-slate-800 border bg-gray-200 rounded-lg focus:outline-none focus:ring-1 focus:ring-blue-500"
            hx-get="{% url 'teams:sidebar_search_team' %}"
            hx-target="#team_list"
            hx-trigger="keyup delay:200ms"
          >
          <svg class="absolute left-2.5 top-2.5 h-4 w-4 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
          
        </div>
      
        <!-- Список элементов с фиксированной высотой и прокруткой -->
        <div class="overflow-y-auto" id="team_list" style="max-height: 200px;">
          {% include 'includes/team_list.html' %}
        </div>
        
        <!-- Кнопка внизу -->
        <button class="relative mt-auto px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors" onclick="add_team_modal.showModal()">
          <svg class="absolute left-3 top-1/2 -translate-y-1/2 w-6 h-6 stroke-white stroke-[2.5]" viewBox="0 0 24 24" fill="none" >
            <path d="M12 3v18M3 12h18" />
          </svg>
          Создать команду
        </button>
        {% include 'includes/add-team-modal.html' %}
        
      </div>
    </div>
    <a href="#" class="block px-4 py-2 rounded hover:bg-gray-200 text-gray-800">Уведомления</a>
  </nav>
  <div class="px-4 py-4 border-t">
    <button class="w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-red-100 rounded">Выйти</button>
  </div>
</aside>