{% extends 'base.html' %}
{% load task_url %}


{% block content %}

{% include 'tasks/includes/header-detail-task.html' %}

<div id="content" class="flex">

    <div class="w-4/5 bg-white border-l border-b border-gray-300 shadow-sm p-4 space-y-6">

        <!-- Блок описания -->
        <div>
          <form method="post">
            <details open class="group mb-4">
              <summary class="cursor-pointer font-semibold text-gray-700 flex items-center">
                  <div class="flex items-center text-lg">
                      <div class="w-5 h-5 flex items-center justify-center transition-transform transform group-open:rotate-90 mr-2">
                          <svg class="w-5 h-5 text-gray-700" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                          </svg>
                      </div>
                      {{ task_form.description.label_tag }}
                  </div>
                  <span class="ml-2 text-blue-600 cursor-pointer">
                      <i class="fas fa-pen text-sm"></i>
                  </span>
              </summary>
          
              <!-- Контент блока -->
              <div class="mt-2">
                  {% csrf_token %}
                  <p class="hidden">{{ task_form.name }}</p>
                  {{ task_form.description }}
                  <button name="update_task" type="submit" class="mt-2 px-4 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">
                      Сохранить
                  </button>
              </div>
          </details>
        </form>
      </div>
      <hr>
    
        <!-- Подзадачи -->
        <div>
          <details class="group">
            <summary class="cursor-pointer font-semibold text-gray-700 flex items-center">
              <div class="flex items-center text-lg">
                <!-- Стрелка -->
                <div class="w-5 h-5 flex items-center justify-center transition-transform transform group-open:rotate-90 mr-2">
                  <svg class="w-5 h-5 text-gray-700" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                  </svg>
                </div>
                Подзадачи
              </div>
                {% if task.parent_task %}
                  <!-- Пустота -->
                {% else %}
                <button onclick="modal_create_task.showModal();" class="border-2 border-dashed border-gray-400 hover:border-sky-500 hover:text-sky-500 bg-white ml-2 p-2 px-3 text-base rounded-lg leading-4 transition-all duration-300 ease-in-out transform shadow-sm hover:shadow-md">
                  + добавить
                </button>
                {% include 'tasks/includes/create-subtask-modal.html' with task_form=create_subtask_form %}
                {% endif %}
            </summary>
        
            <!-- Контент -->
            <div class="bg-gray-200 mt-2 py-2 px-6 text-gray-600 flex justify-center">
              <div class="w-full">
                {% if task.parent_task %}
                  <p class="text-base font-bold italic text-center">
                  У подзадачи не может быть подзадача <br>
                  Родитель: <a class="text-violet-700 hover:text-red-400" href="{% url_task task.parent_task 'task_detail' %}">{{ task.parent_task.name }}</a>
                  </p>
                {% elif task.subtasks.exists %}
                  <div id="subtasks-{{ task.pk }}">
                    {% for subtask in task.subtasks.all %}
                      {% include 'tasks/includes/subtasks.html' %}
                    {% endfor %}
                  </div>
                {% else %}
                  <p class="text-sm font-bold italic text-center">Пока нет подзадач.</p>
                {% endif %}
              </div>
            </div>
            
          </details>
        </div>
        
        <hr>
    
        <!-- Вложения -->
        <div>
          <details class="group">
            <summary class="cursor-pointer font-semibold text-gray-700 flex items-center">
              <div class="flex items-center text-lg">
                <!-- Стрелка -->
                <div class="w-5 h-5 flex items-center justify-center transition-transform transform group-open:rotate-90 mr-2">
                  <svg class="w-5 h-5 text-gray-700" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                  </svg>
                </div>
                Вложения
              </div>
              <button class="border-2 border-dashed border-gray-400 hover:border-sky-500 hover:text-sky-500 bg-white ml-2 p-2 px-3 text-base rounded-lg leading-4 transition-all duration-300 ease-in-out transform shadow-sm hover:shadow-md">
                + добавить
              </button>
            </summary>
        
            <div class="mt-2 pl-6 text-gray-600">
              <p class="text-sm italic">Нет вложений.</p>
            </div>
          </details>
        </div>
        <hr>
    
        <!-- Комментарии и изменения -->
        <div>
          <div class="flex space-x-4 mb-2">
            <button class="px-3 py-1 bg-blue-500 text-white rounded">Комментарии</button>
            <button class="px-3 py-1 bg-gray-200 text-gray-700 rounded">Изменения</button>
          </div>
          <textarea
            rows="4"
            class="w-full border border-gray-300 rounded-md p-2 bg-gray-100 resize-none focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400"
            placeholder="Введите комментарий..."
          ></textarea>
          <button class="mt-2 px-4 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 transition">
            Отправить
          </button>
          <p class="text-center text-gray-400 mt-2">Тут список комментариев</p>
        </div>
      </div>
    
      <!-- Правый сайдбар -->
      <div class="w-1/5 h-[82vh] bg-white border-l border-b border-gray-300 shadow-sm p-4 space-y-6">
    
        <div class="">
          
          <h3 class="text-gray-700 font-bold text-base mb-1">Исполнители</h3>
          <div onclick="change_executor_modal.showModal();" class="group relative border border-gray-200 rounded-md p-2 flex flex-wrap">
            {% if executors %}
              {% for executor in executors %}
                <p class="z-20 text-gray-700 mr-2">{{ executor }}</p>
              {% endfor %}
            {% else %}
              <p class="text-gray-700">Не заданы</p>
            {% endif %}
            <div class="absolute inset-0 z-10 rounded-md bg-gray-200 cursor-pointer opacity-0 group-hover:opacity-100"></div>
          </div>
          
          {% include 'tasks/includes/change-executor-modal.html' %}
        </div>
        
        <div>
          <div class="flex items-center mb-2">
            <h3 class="text-gray-700 font-bold text-base mb-0 leading-none">Теги</h3>
            <a onclick="modal_create_tag.showModal();" class="ml-2 pb-1 w-8 h-8 border-2 border-dashed border-black bg-white text-black text-xl flex items-center justify-center hover:bg-black hover:text-white transition-colors duration-300 rounded-lg cursor-pointer">
              <span class="leading-none">+</span>
            </a>
          </div>
          {% include 'tasks/includes/add-tag-modal.html' %}
        
          <div class="group relative border border-gray-200 rounded-md p-2 min-h-[3rem]" onclick="add_tag_modal.showModal();" title="Выберите или создайте новый тег">
            
            <!-- Теги -->
            <div class="relative z-20 inline-flex flex-wrap gap-2 cursor-pointer">
              {% for t in task.tag.all %}
                <span class="inline-flex items-center rounded-md cursor-default {{ t.color.bg_color }} px-2 py-1 text-sm font-medium border {{ t.color.border_color }} {{ t.color.text_color }}">
                  {{ t.name }}
                </span>
              {% endfor %}
            </div>
        
            <!-- Фоновая зона, реагирующая на hover в свободной области -->
            <div class="absolute inset-0 z-10 rounded-md bg-gray-200 cursor-pointer opacity-0 group-hover:opacity-100"></div>
        
          </div>
        </div>

        <dialog id="add_tag_modal" class="modal">
          <div class="modal-box bg-gray-100 max-w-md p-6 rounded-lg shadow-xl">
            <form method="post" action="">{% csrf_token %}
              
              <a class="btn btn-sm btn-circle btn-ghost absolute right-3 top-3 text-gray-600 hover:text-gray-900 hover:bg-gray-200 transition-colors" onclick="add_tag_modal.close();">✕</a>
              <h3 class="text-2xl font-bold text-gray-800 mb-4">Теги</h3>

              <div>

                <div class="flex flex-wrap gap-2">
                  {% for tag in update_tag_form.tag.field.queryset %}
                    <label class="cursor-pointer mb-2">
                      <input type="checkbox" name="tag" value="{{ tag.id }}"
                            {% if tag in update_tag_form.initial.tag or tag in update_tag_form.data.tag %}checked{% endif %}
                            class="hidden peer">
                      <span class="peer-checked:{{tag.color.bg_color}} peer-checked:{{tag.color.text_color}} peer-checked:{{tag.color.border_color}}
                                  bg-gray-200 text-gray-700 px-3 py-1 border rounded-full transition-all duration-200">
                        {{ tag.name }}
                      </span>
                    </label>
                  {% endfor %}
                </div>
              </div>

              <div class="modal-action mt-6">
                <button class="btn btn-primary text-sm text-white" name="update_tags" type="submit">Сохранить</button>
              </div>
            </form>
          </div>
        </dialog>
        
        <div id="statusDiv-{{task.pk}}">
          <h2 class="text-gray-700 font-bold mb-2">Статус</h2>
          {% include 'tasks/includes/change-status.html' %}
        </div>
    
        <div id="priority-{{task.pk}}">
          {% include 'tasks/includes/change-priority.html' %}
        </div>
    
        <div>
          <h3 class="text-gray-700 font-bold text-base mb-1">Автор</h3>
          <p class="text-gray-700">{{task.creator}}</p>
        </div>
    </div>

</div>

{% endblock content %}
