


<dialog id="add_team_member_modal" class="modal">
    <div class="modal-box bg-gray-100 shadow-xl text-base-content rounded-lg p-6 w-full max-w-md mx-auto">
        <button onclick="this.closest('dialog').close();" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        <h3 class="text-2xl text-gray-800 font-bold mb-4">Добавить участников в команду</h3>
        <h4 class="text-base text-center text-gray-600 my-4">Введите почту участника которого хотите добавить в команду</h4>

        <form action="{% url 'teams:add_team_member' team.pk %}" method="post">{% csrf_token %}
        
            <div class="">
                <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700 mb-1">
                    {{ form.email.label }}
                </label>
                
                {{ form.email }}
            </div>

            {% if form.email.errors %}
            <ul class="text-sm text-red-600 mt-1">
                {% for error in form.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="mt-6">
                <button class="btn btn-primary text-white" name="choice_executor" type="submit">Добавить</button>
            </div>

        </form>
    </div>
</dialog>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const hasErrors = {{ form.errors|yesno:"true,false" }};
      if (hasErrors) {
          const modal = document.getElementById('add_team_member_modal');
          if (modal) {
              modal.showModal();
          }
      }
    });
</script>