

<div class="dropdown">
    {% if your_role  >= ROLE_PRIORITY.MANAGER %}
    <div tabindex="0" role="button" class="px-3 py-1 rounded-lg {{project.status_text}} text-sm font-medium {{project.status_color}} border border-gray-400">{{ project.status }} <i class='fas fa-angle-down ml-1 mt-1'></i></div>
    <ul tabindex="0" class="dropdown-content menu text-gray-600 bg-white border border-gray-300 rounded-box z-[1] w-48 p-2 shadow-sm">
        <li>
            <a class="flex items-center gap-2"
            hx-post="{% url 'teams:projects:project_status_changes' project.team.pk project.id %}"
            hx-vals='{"status": "{{ status_choices.IN_WORK }}"}'
            hx-target="#status-container-{{project.id}}"
            >
            <span class="w-2.5 h-2.5 rounded-full bg-green-500"></span>
            {{ status_choices.IN_WORK }}
            </a>
        </li>
        <li>
            <a class="flex items-center gap-2"
            hx-post="{% url 'teams:projects:project_status_changes' project.team.pk project.id %}"
            hx-vals='{"status": "{{ status_choices.STOPPED }}"}'
            hx-target="#status-container-{{project.id}}"
            >
            <span class="w-2.5 h-2.5 rounded-full bg-yellow-400"></span>
            {{ status_choices.STOPPED }}
            </a>
        </li>
        <li>
            <a class="flex items-center gap-2"
            hx-post="{% url 'teams:projects:project_status_changes' project.team.pk project.id %}"
            hx-vals='{"status": "{{ status_choices.COMPLETED }}"}'
            hx-target="#status-container-{{project.id}}"
            >
            <span class="w-2.5 h-2.5 rounded-full bg-red-400"></span>
            {{ status_choices.COMPLETED }}
            </a>
        </li>
    </ul>
    {% else %}
    <div tabindex="0" role="button" class="px-3 py-1 rounded-lg {{project.status_text}} text-sm font-medium {{project.status_color}} border border-gray-400">{{ project.status }}</div>
    {% endif %}
</div>