{% extends 'projects/project-settings.html' %}

{% block configuration_content %}

<div class="p-6 max-w-2xl mx-auto">
    <form action="{% url 'teams:projects:change_project' project.team.pk project.pk %}" method="post" class="space-y-6" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="flex flex-col gap-4">
            <label for="img" class="label">
                <span class="label-text text-gray-800 text-lg font-medium">Изображение проекта</span>
            </label>
            <div id="image-div_{{project.id}}" class="cursor-pointer w-36 h-36 hover:opacity-65">
                {% if project.image %}
                    <img id="image-preview_{{project.id}}" class="w-36 h-36 rounded-xl" src="{{ project.image.url }}">
                {% else %}
                    <div id="image-preview_{{project.id}}" class="w-36 h-36 bg-{{ project.color }}-400 rounded-xl flex items-center justify-center font-bold text-white">
                    </div>
                {% endif %}
            </div>
            <input type="file" name="image" id="image-input_{{project.id}}" class="hidden" accept="image/*">
        </div>

        {% for field in form %}
            {% if field.name != 'image' %}
                <div class="form-control">
                    <label for="{{ field.id_for_label }}" class="label">
                        <span class="label-text text-gray-800 text-lg font-medium">{{ field.label }}</span>
                    </label>
                    
                    {{ field }}
                    
                    {% if field.help_text %}
                    <label class="label">
                        <span class="label-text-alt">{{ field.help_text }}</span>
                    </label>
                    {% endif %}
                    
                    {% if field.errors %}
                    <div class="text-error text-sm mt-1">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}

        <div class="flex justify-end space-x-4 pt-4">
            <a url="{% url 'teams:projects:project_list' project.team.pk %}" class="text-black bg-white hover:text-white btn">Назад</a>
            <button type="submit" class="btn btn-primary btn-outline">Сохранить</button>
        </div>
    </form>
</div>
<script>
    document.getElementById('image-div_{{project.id}}').addEventListener('click', () => {
        document.getElementById('image-input_{{project.id}}').click();
    });

    document.getElementById('image-input_{{project.id}}').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const previewElement = document.getElementById('image-preview_{{project.id}}');
                
                if (previewElement.tagName === 'DIV') {
                    const img = document.createElement('img');
                    img.id = 'image-preview_{{project.id}}';
                    img.className = 'w-36 h-36 rounded-xl';
                    img.src = e.target.result;
                    previewElement.parentNode.replaceChild(img, previewElement);
                } 
                else {
                    previewElement.src = e.target.result;
                }
            };
            reader.readAsDataURL(file);
        }
    });
</script>

{% endblock configuration_content %}