{% extends 'projects/project-settings.html' %}

{% block configuration_content %}

<div class="p-6 mx-auto">
    <table id="tbl" class="table w-full">
        <thead class="bg-gray-50">
            <tr class="text-gray-600 uppercase text-sm leading-normal">
                <th class="w-10 py-3 px-3 text-center font-semibold">#</th>
                <th class="py-3 px-6 text-left font-semibold">Тег</th>
                <th class="py-3 px-6 text-left font-semibold">Цвет</th>
                <th class="w-10 py-3 px-6 text-left font-semibold"></th>
            </tr>
        </thead>
        <tbody id="tbs" class="text-gray-600 text-sm font-light">
            {% for tag in tags %}
            <tr id="st-{{tag.pk}}" class="border-b border-gray-200 hover:bg-gray-100 transition-colors {% cycle 'bg-white' 'bg-gray-50' %}">
                {% include 'projects/includes/tag.html' %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock configuration_content %}
